CONFIG_HYPERVISOR_GUEST=y
# CONFIG_HYPERV is not set
# CONFIG_KVM_DEBUG_FS is not set
CONFIG_KVM_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_PARAVIRT_CLOCK=y
# CONFIG_PARAVIRT_DEBUG is not set
# CONFIG_PARAVIRT_SPINLOCKS is not set
# CONFIG_PARAVIRT_TIME_ACCOUNTING is not set
CONFIG_PTP_1588_CLOCK_KVM=y
# CONFIG_XEN is not set
